{% extends 'base.html' %}

{% block head-extra %}
<script src="http://www.google.com/jsapi"></script>
<script>
  // Load jQuery
  google.load("jquery", "1");
</script>
<script language="javascript" type="text/javascript" src="/static/flot/jquery.flot.pack.js"></script>
{% endblock %}

{% block content %}
<h1>chart for {{ statkey }}</h1>

<div id="placeholder" style="width:600px;height:300px;"></div>

<script language="javascript" type="text/javascript" src="/stats/data/{{statkey}}/"></script>
<script id="source" language="javascript" type="text/javascript">
$(function () {
    var d1 = {{statkey}}; // comes from js include above
    $.plot($("#placeholder"), 
        [ {data: d1, color: "#075f87", label: "{{statkey}}"}], {
        xaxis: { mode: "time" } ,
        legend: { position: 'sw' },
        lines: { show: true },
        });
});
</script>
{% endblock %}
